// Переменные для шрифтов
$font-accent: "Times New Roman", Times, serif;
$font-default: "Roboto", Arial, Helvetica, sans-serif;


// Переменные для цвета
$accent: #ff0000;
$text: #383736;
$grey: #989691;
$white: #ffffff;


// Прочие переменные
$slowdown: all 0.3s ease;